<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rexchen.myim">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/MyTheme">

        <!--主界面-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="cn.rongcloud.im"
                    android:pathPrefix="/push_message"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!--闪屏界面-->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--登录界面-->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--注册页面-->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--重置密码界面-->
        <activity
            android:name=".ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />

        <!--新的朋友列表-->
        <activity
            android:name=".ui.activity.NewFriendListActivity"
            android:screenOrientation="portrait" />

        <!--我的账号-->
        <activity
            android:name=".ui.activity.MyAccountActivity"
            android:screenOrientation="portrait" />
        <!--账号设置-->
        <activity
            android:name=".ui.activity.AccountSettingActivity"
            android:screenOrientation="portrait" />
        <!--关于界面-->
        <activity
            android:name=".ui.activity.AboutRongCloudActivity"
            android:screenOrientation="portrait" />
        <!--修改名字-->
        <activity
            android:name=".ui.activity.UpdateNameActivity"
            android:screenOrientation="portrait" />
        <!--修改密码-->
        <activity
            android:name=".ui.activity.UpdatePasswordActivity"
            android:screenOrientation="portrait" />
        <!--隐私-->
        <activity
            android:name=".ui.activity.PrivacyActivity"
            android:screenOrientation="portrait" />
        <!--黑名单列表-->
        <activity
            android:name=".ui.activity.BlackListActivity"
            android:screenOrientation="portrait" />
        <!--新消息提醒-->
        <activity
            android:name=".ui.activity.NewMessageRemindActivity"
            android:screenOrientation="portrait" />
        <!--消息免打扰-->
        <activity
            android:name=".ui.activity.DisturbActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.MessageDisturbActivity" />


        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c3ab72106283e71fd3725fa6b6611b98" />

        <!--融云IM配置-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.rexchen.myim.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

    </application>

</manifest>